axial-positional-embedding==0.2.1
certifi==2025.10.5
charset-normalizer==3.4.4
contourpy==1.1.1
deprecated==1.2.18
einops==0.8.0
filelock==3.13.1
fonttools==4.57.0
fsspec==2024.6.1
hf-xet==1.2.0
huggingface-hub==0.36.0
idna==3.11
jinja2==3.1.4
kiwisolver==1.4.7
llvmlite==0.41.1
local-attention==1.9.14
markupsafe==2.1.5
numba==0.58.1
numpy==1.23.5
packaging==25.0
pandas==1.5.3
patool==1.12
pillow==10.4.0
product-key-memory==0.2.2
pyparsing==3.1.4
pytorch-ranger==0.1.1
pytz==2025.2
pyyaml==6.0.3
reformer-pytorch==1.4.4
regex==2024.11.6
requests==2.32.4
safetensors==0.5.3
scikit-learn==1.2.2
scipy==1.10.1
sentence-transformers==3.2.1
six==1.17.0
sktime==0.16.1
sympy==1.11.1
threadpoolctl==3.5.0
tokenizers==0.20.3
torch==2.4.1
torch-optimizer==0.3.0
torchaudio==2.4.1
torchvision==0.19.1
tqdm==4.64.1
transformers==4.46.3
triton==3.0.0
typing-extensions==4.13.2
wrapt==1.17.2
zipp==3.20.2
matplotlib==3.7.5
imageio==2.31.0